*.pyc
__pycache__/
.venv/
venv/
env/
.venv
*.tfvars
*.tfstate
.vscode/
node_modules/
*.iml
*.ipr
*.iws
dist/
build/
*.egg-info/
.coverage
.pytest_cache/
.python-version
.env
.env.local
.env.*.local
*.log
logs/
/uploads/
build/
.DS_Store
