# Editor directories and files
*.vscode/*
*.idea
*.DS_Store
*.suo
/build/
/uploads/

# Logs and reports
*.xml
reports/
*.log
logs/

# Python specific
*.egg-info/
*.coverage
*.pytest_cache/
*.python-version
